#content {
  color: white;
}

.hero img {
  max-width: 800px;
  width: 100%;
}

.hero img::after {
  content: "higisle";
  width: 10px;
  height: 1px;
  color: black;
}

.heading {
  font-size: 3rem;
}

.about {
  flex-direction: column;
  height: calc(100vh - 56px);
}

.card {
  transition: 300ms;
}

.card:hover {
  transform: translateY(-10px);
}
