#content {
    color: white;
}

.hero img {
    max-width: 800px;
    width: 100%;
}

.hero img::after {
    content: "higisle";
    width: 10px;
    height: 1px;
    color: black;
}

.heading {
    font-size: 4rem;
}

.about {
    flex-direction: column;
    height: calc(100vh - 56px);
}